@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu-Bold.ttf),
         url(../fonts/Ubuntu-BoldItalic.ttf)
         url(../fonts/Ubuntu-Regular.ttf);
}

body{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: ubuntu;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 3em;
    line-height: 2em;
    background: white;
    font-family: ubuntu;
}

#book{
    background: grey;
    width: 20%;
    height: auto;
    margin: 10px auto;
    padding: 2em; 
    align-items: center;
}

button.rmv-btn,
button.edit-btn{
    margin: 1em;
    padding: 1em;
    font-family: ubuntu;
}

#new-book{
    padding: 1em auto;
} 

#form{
    background: white;
    padding: 1em;
    line-height: 1.5em;
    display: none;
    z-index: 1;
    position: absolute;
    animation-name: animateModal;
    animation-duration: .4s;
    box-shadow: 10px 10px 10px black;

    h1{
        font-size: 1rem;
    }
}

#close{
    position: relative;
    left: 80%;
    margin: 1.5em 0;
}

input{
    padding: .5em;
}

.submit{
    position: relative;
    left: 70%;
    display: block;
}

@keyframes animateModal {
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 10px;
        opacity: 1;
    }
}